FLASK_APP=app.main:app
SETTINGS=dev
BASIC_AUTH_USERNAME=user
BASIC_AUTH_PASSWD=passwd
ALLOWED_HOSTS =["0.0.0.0"]

POSTGRES_USER=postgres
POSTGRES_PASSWORD=passwd
POSTGRES_HOST=auth-postgres
POSTGRES_PORT=5432

REDIS_HOST=auth-redis
REDIS_PORT=6379